nav ul {
    display: flex;
    background-color: blanchedalmond;
    margin-block-start: 0;
    padding: 16px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
    list-style-type: none;
    margin-right: 16px;
}

nav ul li a {
    color: black;
    font-size: medium;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5 ease;
}

nav ul li a:hover {
    color: rgb(36, 36, 197);
}

nav ul li a.active {
    color: crimson;
    text-decoration: underline;
}